head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', type='text/css', href='/assets/css/aboutUs.css')
  link(rel='stylesheet', type='text/css', href='/assets/vendor/css/all.css')
  link(rel='stylesheet', type='text/css', href='/assets/vendor/css/fontawesome.css')
  title About us
body
    section.about-us
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Hoàng Ẩn
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Hoàng Hảo
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Quốc Dũng
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Lam Trường
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Thái Ngọc
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Lộng Nguyệt
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Chí Thiện
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Cẩm Vân
        .card
            .card__ava.card__ava-1
                .card__portfo
                    a.card__portfo-cta--1(href='#')
                        i.fab.fa-github.card__portfo-icon(title='')
                    a.card__portfo-cta--2(href='#')
                        i.fab.fa-facebook.card__portfo-icon(title='')
                    a.card__portfo-cta--3(href='#')
                        i.fab.fa-linkedin.card__portfo-icon(title='')
                .u-center-text
                    h3.heading-3.heading-3--dark.heading-3--primary Minh Toàn
