head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/assets/css/giaiBaiTapClicked.css', type='text/css')
    title Giải bài tập
body
    .coding.clearfix
        h2.coding__heading.heading-2.heading-2--dark JavaScript
        .dropdown.coding__list
            a#topic-btn.coding__list-btn.btn.btn--link.btn--primary(href='#') Chọn chủ đề
            ul.dropdown__menu
                li.dropdown__list
                    a.dropdown__item.btn--link.btn--primary(href='#') Vòng lặp
                li.dropdown__list
                    a.dropdown__item.btn--link.btn--primary(href='#') Biến
                li.dropdown__list
                    a.dropdown__item.btn--link.btn--primary(href='#') Kiểu dữ liệu
    .coding__ex-list.u-mt-s
        table.coding__table
            tr.coding__table-row
                th.coding__table-head Bài
                th.coding__table-head Tiêu đề bài tập
                th.coding__table-head Miêu tả bài tập
                th.coding__table-head Trạng thái
                th.coding__table-head &nbsp;
            tr
                td.coding__table-data.coding__table-counter-cell
                td.coding__table-data Data from database
                td.coding__table-data Data from database
                td.coding__table-data Data from database
                td.coding__table-data.u-center-text
                    a.btn.btn--link.btn--primary.btn-submit(href='#', target='_blank') L&agrave;m b&agrave;i t&#x1EAD;p
            tr
                td.coding__table-data.coding__table-counter-cell
                td.coding__table-data Data from database
                td.coding__table-data Data from database
                td.coding__table-data Data from database
                td.coding__table-data.u-center-text
                    a.btn.btn--link.btn--primary.btn-submit(href='#', target='_blank') L&agrave;m b&agrave;i t&#x1EAD;p
            tr
                td.coding__table-data.coding__table-counter-cell
                td.coding__table-data Data from database
                td.coding__table-data Data from database
                td.coding__table-data Data from database
                td.coding__table-data.u-center-text
                    a.btn.btn--link.btn--primary.btn-submit(href='#', target='_blank') L&agrave;m b&agrave;i t&#x1EAD;p
