.course {
    
    &__btn {
        float: right;

        @extend %btn-link;
        @include btn-deco($color-blue, $color-light, $color-blue);
        border-radius: 5px;
        
        transition: transform .2s ease-in-out;
        margin-right: 2rem;
        
        &:hover {
            filter: brightness(110%);
            transform: translateY(-2px);
        }
    }
}
