.card {
    background-color: $color-gray-1;
    height: 33.5rem;
    width: 22.5rem;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px rgba($color-dark-2, .55);

    &__ava {
        height: 16.5rem;
        width: 16.5rem;
        border-radius: 50%;        
        margin: 2rem auto .5rem;
        background-color: $color-light;
        
        background-size: cover;
        background-position: center center;

        &-1 {background-image: url(/assets/images/facebook-square-brands.svg);}
    }

    &__pofo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;    

        &-cta {
            margin-top: 2rem;        
            display: block;
            height: 3.5rem;
            width: 3.5rem;                

            &__img {
                height: 100%;
                width: 100%;
            }
        }                        
    }

    &__staff {

    }
}