.card {
    background-color: $color-light;
    height: 32.5rem;
    width: 22.5rem;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px rgba($color-dark-2, .55);    

    &__ava {
        height: 16rem;
        width: 16rem;
        border-radius: 50%;        
        margin: 2rem auto 3rem;
        background-color: $color-light;
        
        background-size: cover;
        background-position: center center;

        &-1 {background-image: url(/assets/images/facebook-square-brands.svg);}
    }

    &__portfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;            

        &-cta {                                                  
            &--1 {color: #24292e}
            &--2 {color: #4267b2}
            &--3 {color: #0077B5}
        }   
        
        &-icon { 
            font-size: 3.5rem; 

            &:hover {
                opacity: .9;
            }
        }
    }    
}