*,
*:link,
*:visited {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include breakpoint(laptop) {
        font-size: 55%;
    }

    @include breakpoint(large-tablet) {
        font-size: 50%;
    }
    
    @include breakpoint(medium-tablet) {
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: $font-size-m;
    font-family: $font-family-primary;
    width: 100%;    
}