// COLOR
$color-blue: #4a90e2;
$color-blue-1: #007bff;

$color-light: #fff;

$color-gray: #ccc;

$color-dark: #333;
$color-dark-1: #252525;
$color-dark-2: #666666;

// FONT-SIZE
$font-size-small: 1.35rem;
$font-size-default: 1.6rem;
$font-size-large: 2rem;
$font-size-huge: 2.4rem;

// FONT-FAMILY
$font-family-primary: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-family-sans-serif: "Segoe UI", Roboto, "Helvetica", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "LiberatioMono", "Courier New", monospace;