// COLOR
$color-primary: #008861;

$color-blue: #4a90e2;
$color-blue-1: #007bff;

$color-light: #fff;
$color-light-1: #f3f3f3;

$color-gray: #ccc;
$color-gray-1: rgb(230, 230, 230);

$color-dark: #333;
$color-dark-1: #252525;
$color-dark-2: #666666;
$color-dark-3: #000000;

// FONT-SIZE
$font-size-xs: 1rem;
$font-size-s: 1.35rem;
$font-size-m: 1.6rem;
$font-size-l: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3rem;
$font-size-xxxl: 3.6rem;
$font-size-xxxxl: 4rem;

// FONT-FAMILY
$font-family-primary: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-family-sans-serif: "Segoe UI", Roboto, "Helvetica", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "LiberatioMono", "Courier New", monospace;