// BREAKPOINTS
@mixin breakpoint($point) {
    @if $point == mobile {
        @media (max-width: 400px) {
            @content ;
        }
    }
    @else if $point == medium-tablet {
        @media (max-width: 767px) {
            @content ;
        }
    }
    @else if $point == large-tablet {
        @media (max-width: 990px) {
            @content ;
        }
    }
    @else if $point == laptop {
        @media (max-width: 1200px) {
            @content ;
        }
    }
    @else if $point == desktop {
        @media (max-width: 1600px) {
            @content ;
        }
    }
    @else if $point == large-desktop {
        @media (max-width: 1900px) {
            @content ;
        }
    }
}

@mixin btn-deco($bg-color, $txt-color, $bd-color) {    
    background-color: $bg-color;
    color: $txt-color;
    border: 2px solid $bd-color;
}

@mixin box-deco($bg-color, $box-color) {
    background-color: $bg-color;    
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 4px 5px 20px -1px $box-color;
    filter: brightness(115%);
}