.about-us {
    width: 50%;
    margin: auto;
    margin-top: 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 22.5rem));    
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    // grid-column-gap: 25rem;
}