.about-us {
    width: 50%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;

    display: grid;    
    grid-template-columns: repeat(3, 22.5rem);
    grid-column-gap: 15rem;
    grid-row-gap: 5rem;

    @include breakpoint(large-desktop) {         
        width: 60%;        
        padding-left: 3.5rem;
    }

    @include breakpoint(desktop) {               
        grid-column-gap: 7.5rem;                
    }

    @include breakpoint(medium-laptop) {        
        padding-left: 2rem;
        grid-column-gap: 7.5rem;  
    }
        
    @include breakpoint(large-tablet) {        
        padding-left: 0;       
    }

    @include breakpoint(medium-tablet) {
        padding-left: 12.5rem;
        grid-template-columns: repeat(auto-fill, minmax(min-content, 22.5rem))
    }

    @include breakpoint(tablet) {        
        justify-content: center;
    }
}