.coding {
    position: relative;
    width: 85%;
    margin: 5rem auto 0;
    padding: 1.6rem;

    &__heading {
        float: left;
        margin: 0;
    }    

    &__list {              
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;

        &-btn {
            border-radius: 0;
            cursor: pointer;            
        }

        &:hover .dropdown__list, &:active .dropdown__list {            
            visibility: visible;
            display: block;
        }
    }


}

.dynamic {
    &__btn {
        width: 15%;
        cursor: pointer;
        margin-right: 2rem;
    }

    &__input {             
        width: 60%;
        height: 4rem;
        padding: 15px;
        border: 1px solid $color-dark-3;
        border-radius: 5px;
        transform: translateY(2px);
    }    
}