.coding {
    position: relative;
    width: 85%;
    margin: 5rem auto 0;
    padding: 1.6rem;

    &__heading {
        float: left;
        margin: 0;
    }    

    &__list {              
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;

        &-btn {
            border-radius: 0;
            cursor: pointer;            
        }

        &:hover .dropdown__list, &:active .dropdown__list {            
            visibility: visible;
            display: block;
        }
    }


}

.dynamic {
    &__btn {
        width: 15%;
        cursor: pointer;
        margin-right: 2rem;
    }

    &__input {             
        width: 60%;
        height: 4rem;
        padding: 15px;
        border: 1px solid $color-dark-3;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transform: translateY(2px);
    }    

    &__closeBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 4rem;
        background-color: black;
        color: white;    
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;            
        cursor: pointer;
        font-size: 20px;        
        transform: translateY(12%);

        @include breakpoint(medium-tablet) {
            height: 4.5rem;
            transform: translateY(15%);
        }
    }
}