.coding {
    position: relative;
    width: 85%;
    margin: 5rem auto 0;
    padding: 1.6rem;
    border: 1px solid black;    

    &__heading {
        float: left;
        margin: 0;
    }    

    &__list {              
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;

        &-btn {
            border-radius: 0;
        }

        &:hover .dropdown__list {            
            visibility: visible;
            display: block;
        }
    }


}